.section-header {
    align-items: flex-start;
    background-color: var(--nanuelectricscomnero);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: var(--nanuelectricscomblack);
    display: flex;
    flex-direction: column;
    padding: 0px 0px 2px;
    position: relative;
    width: 1440px;
  }
  
  .section-header .nav-primary {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding: 15px 48px;
    position: relative;
    width: 100%;
  }
  
  .section-header .div-flex {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    position: relative;
  }
  
  .section-header .list {
    height: 57px;
    left: 0;
    position: absolute;
    top: 0;
    width: 176px;
  }
  
  .section-header .SHOP-item-margin {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 0;
    padding: 0px 18px 0px 0px;
    position: absolute;
    top: 0;
  }
  
  .section-header .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .section-header .button {
    all: unset;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 16.79px 0px 16.81px;
    position: relative;
  }
  
  .section-header .span-inline-block {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 4.19px 0px 0px;
    position: relative;
  }
  
  .section-header .text-wrapper {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0;
    color: var(--nanuelectricscomblack);
    display: -webkit-box;
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
  }
  
  .section-header .CATALOG-item-margin {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 124px;
    padding: 0px 18px 0px 0px;
    position: absolute;
    top: 0;
  }
  
  .section-header .div {
    all: unset;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 0.14px;
    padding: 16.79px 0px 16.81px;
    position: relative;
  }
  
  .section-header .span-inline-block-2 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 4.5px 0px 0px;
    position: relative;
  }
  
  .section-header .ABOUT-item-margin {
    height: 57px;
    left: 285px;
    position: absolute;
    top: 0;
    width: 84px;
  }
  
  .section-header .item {
    align-items: flex-start;
    display: inline-flex;
    position: relative;
  }
  
  .section-header .span-inline-block-3 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 4.17px 0px 0px;
    position: relative;
  }
  
  .section-header .frame {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    position: relative;
  }
  
  .section-header .text-wrapper-2 {
    color: #1e1e1e;
    font-family: "Asgard Trial-WideBold", Helvetica;
    font-size: 48px;
    font-weight: 700;
    height: 47px;
    letter-spacing: 0;
    line-height: 23.4px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 204px;
  }
  
  .section-header .div-flex-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 0.01px;
    justify-content: flex-end;
    padding: 0px 0px 0px 449.73px;
    position: relative;
  }
  
  .section-header .div-ml-margin-CART {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-left: -60.02px;
    padding: 0px 0px 0px 18px;
    position: relative;
  }
  
  .section-header .span-my-auto-wrapper {
    all: unset;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 16.79px 0px 16.81px;
    position: relative;
  }
  
  .section-header .span-my-auto {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
  }
  
  .section-header .text-wrapper-3 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 0;
    color: var(--nanuelectricscomblack);
    display: -webkit-box;
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    margin-top: -1.00px;
    overflow: hidden;
    position: relative;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
  }
  
  .section-header .div-ml-margin {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 0px 0px 0px 18px;
    position: relative;
  }
  
  .section-header .link {
    align-items: center;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 16.79px 0px 16.81px;
    position: relative;
  }
  
  .section-header .span-my-auto-2 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 66.28px;
  }
  